.Info {
  height: 40vh;
  padding: 0 15rem;
}
.Content {
  display: flex;
  align-items: center;
}
.Info .proImaDiv img {
  width: 4rem;
}
.userNLang {
  display: flex;
  flex-direction: column;
}
.lang {
  display: flex;
  align-items: center;
}
.editProBtn,
.saveBtn {
  border-radius: 1.35rem;
  background-color: #83a2ff;
  color: white;
  border: none;
  cursor: pointer;
}
.editProBtn {
  min-height: 2.35rem;
  min-width: 6.45rem;
}
.modal-overlay.MyPage {
  position: absolute;
  z-index: 1;
  background-color: #0000003d;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
}
.modal.MyPage {
  background: white;
  padding: 20px;
  border-radius: 1.5rem;
  min-height: 63vh;
  min-width: 32vw;
}
.editTop {
  display: flex;
}
.closeBtn {
  cursor: pointer;
}
.saveBtn {
}
hr.myPageHr {
  border: 1px solid #e6e9f4;
  margin: 3rem 3rem;
}
.mmtWrap {
  margin: 0 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  height: 42vh;
  overflow: auto;
}
